#![enable(implicit_some)]
Prefab (
    entities: [
        (
            data: (
                sprite_sheets: [
                    (
                        id: 100,
                        texture: (100, File("./assets/base/sprites/astronaut_jump.png", Png, ())),
                        sprites: [
                            // Top row
                            (
                                width: 400,
                                height: 600,
                                offsets: (256.0, 0.0),
                                tex_coords: (
                                    left: 0.0,
                                    right: 0.2,
                                    bottom: 0.6666667,
                                    top: 1.0,
                                ),
                            ),
                            (
                                width: 400,
                                height: 600,
                                offsets: (256.0, 0.0),
                                tex_coords: (
                                    left: 0.2,
                                    right: 0.4,
                                    bottom: 0.6666667,
                                    top: 1.0,
                                ),
                            ),
                            (
                                width: 400,
                                height: 600,
                                offsets: (256.0, 0.0),
                                tex_coords: (
                                    left: 0.4,
                                    right: 0.6,
                                    bottom: 0.6666667,
                                    top: 1.0,
                                ),
                            ),
                            (
                                width: 400,
                                height: 600,
                                offsets: (256.0, 0.0),
                                tex_coords: (
                                    left: 0.6,
                                    right: 0.8,
                                    bottom: 0.6666667,
                                    top: 1.0,
                                ),
                            ),
                            (
                                width: 400,
                                height: 600,
                                offsets: (256.0, 0.0),
                                tex_coords: (
                                    left: 0.8,
                                    right: 1.0,
                                    bottom: 0.6666667,
                                    top: 1.0,
                                ),
                            ),

                            // Middle row
                            (
                                width: 400,
                                height: 600,
                                offsets: (256.0, 0.0),
                                tex_coords: (
                                    left: 0.0,
                                    right: 0.2,
                                    bottom: 0.3333333,
                                    top: 0.6666667,
                                ),
                            ),
                        ],
                    ),
                    (
                        id: 102,
                        texture: (102, File("./assets/base/sprites/astronaut_falling_spritesheet.png", Png, ())),
                        sprites: [
                            (
                                width: 600,
                                height: 600,
                                offsets: (0.0, 0.0),
                                tex_coords: (
                                    left: 0.0,
                                    right: 0.2,
                                    bottom: 0.8,
                                    top: 1.0,
                                ),
                            ),
                        ],
                    ),
                    (
                        id: 101,
                        texture: (101, File("./assets/base/sprites/astronaut_run.png", Png, ())),
                        sprites: [
                            // Top row
                            (
                                width: 400,
                                height: 600,
                                offsets: (256.0, 0.0),
                                tex_coords: (
                                    left: 0.0,
                                    right: 0.2,
                                    bottom: 0.0,
                                    top: 1.0,
                                ),
                            ),
                            (
                                width: 400,
                                height: 600,
                                offsets: (256.0, 0.0),
                                tex_coords: (
                                    left: 0.2,
                                    right: 0.4,
                                    bottom: 0.0,
                                    top: 1.0,
                                ),
                            ),
                            (
                                width: 400,
                                height: 600,
                                offsets: (256.0, 0.0),
                                tex_coords: (
                                    left: 0.4,
                                    right: 0.6,
                                    bottom: 0.0,
                                    top: 1.0,
                                ),
                            ),
                            (
                                width: 400,
                                height: 600,
                                offsets: (256.0, 0.0),
                                tex_coords: (
                                    left: 0.6,
                                    right: 0.8,
                                    bottom: 0.0,
                                    top: 1.0,
                                ),
                            ),
                        ],
                    ),
                ],
                sprite: (
                    sheet: 100,
                    sprite_number: 0,
                    flip_horizontal: false,
                    flip_vertical: false,
                ),
                transform: (
                    translation: (
                        x: 0.2,
                        y: 0.15,
                        z: 0,
                    ),
                    scale: (
                        x: 0.0005,
                        y: 0.0005,
                        z: 1.0,
                    ),
                ),
                removal: (id: 1),
            ),
        ),
    ],
)
