#![enable(implicit_some)]
Prefab (
    entities: [
        (
            data: (
                sprite_sheets: [
                    (
                        id: 0,
                        texture: (0, File("test_ground.png", Png, ())),
                        sprites: [
                            (
                                width: 1099,
                                height: 131,
                                offsets: (0.0,0.0),
                                tex_coords: (
                                    left: 0.0,
                                    right: 1.0,
                                    bottom: 0.0,
                                    top: 1.0,
                                ),
                            ),
                        ],
                    ),
                ],
            ),
        ),
        (
            data: (
                sprite: (
                    sheet: 0,
                    sprite_number: 0,
                    flip_horizontal: false,
                    flip_vertical: false,
                ),
                transform: (
                    translation: (
                        x: 4,
                        y: 1,
                        z: 0,
                    ),
                ),
            ),
        ),
    ]
)